name: Build Globed server

# needed to push to ghcr
permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

on:
  workflow_dispatch:
  push:

env:
  GHCR_IMAGE: ghcr.io/${{ github.repository }}

jobs:
  linux:
    name: Linux (${{ matrix.arch }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm64]

    steps:
      - name: Prepare
        run: |
          platform=linux/${{ matrix.arch }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

      - name: Set up buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.GHCR_IMAGE }}

      - name: Build and push
        id: build
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha,scope=game-server-linux-${{ matrix.arch }}
          cache-to: type=gha,mode=max,compression=zstd,compression-level=8,scope=game-server-linux-${{ matrix.arch }}
          outputs: |
            type=image,push-by-digest=true,name-canonical=true,push=true
            type=local,dest=out
          target: runtime-debian
          platforms: ${{ env.PLATFORM_PAIR }}
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ env.GHCR_IMAGE }}
        env:
          DOCKER_BUILD_SUMMARY: false

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

      - name: Prepare artifacts
        run: |
          mkdir -p artifacts
          if [ "${{ matrix.arch }}" = "amd64" ]; then
            cp out/game-server artifacts/game-server-x64
          else
            cp out/game-server artifacts/game-server-arm64
          fi

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.arch }}
          path: artifacts/*

  windows:
    name: Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2025-12-01
          target: x86_64-pc-windows-msvc

      - name: Cache
        uses: Swatinem/rust-cache@v2

      - name: Build
        run: |
          cargo build --release --features mimalloc --target x86_64-pc-windows-msvc
        env:
          SERVER_SHARED_PREBUILT_DATA: 1

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: target/x86_64-pc-windows-msvc/release/game-server.exe

  merge:
    name: Merge artifacts and digests
    runs-on: ubuntu-latest
    needs: [linux, windows]
    steps:
      - name: Merge artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: game-server-build
          delete-merged: true

      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Set up buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.GHCR_IMAGE }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.GHCR_IMAGE }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.GHCR_IMAGE }}:${{ steps.meta.outputs.version }}
